{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Image Recognition System</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
 <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

    <!-- Custom styles for this template -->
    <link href="{% static 'css/grayscale.min.css'%}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
<!--
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">

            <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Download</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
-->
    <!-- Intro Header -->
    <header class="masthead">
        <div class="intro-body" style="background-image: url(static/img/intro.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1>Image Recognition System</h4>
                        <h2 class="intro-text">Using Deep Learning Models<br><br>
                        <a href="#about" class="btn btn-circle js-scroll-trigger">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 mx-auto">
            <h2>About the Project</h2>
            <p>This Project focusses on the Computer Vision domain of Computer Science and uses Deep Learning techniques for Image Recognition. Convolutional Neural Networks plays a major role in Deep Learning and forms the base for this system.
                <br>The system uses <a href="https://keras.io/">Keras</a>, which is a Neural Network API built in Python with the backend of <a href="https://www.tensorflow.org/">TensorFlow</a>. It shows the top 5 predictions of the Input Image and returns a bar graph showing the probabilities of the same. The Image can be uploaded from a local disk or by copying it's URL.</p>

            <p>Technology Used: <br> Backend: Python (Keras, TensorFlow, NumPy, Pandas, MatplotLib) <br>User Interface: HTML, CSS, JavaScript, Bootstrap, Django</p>
            <a href="#download" class="btn btn-circle js-scroll-trigger">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Model Selection -->
    <section id="download" class="download-section content-section text-center" style="background-image: url(static/img/intro.jpg);">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>Choose a Model</h2>
          <!-- <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p> -->
          <a href="#ResNet50" class="btn btn-default btn-lg js-scroll-trigger">ResNet50</a>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <a href="#VGG19" class="btn btn-default btn-lg js-scroll-trigger">VGG19</a>


        </div>
      </div>
    </section>

<!-- ResNet50 -->
    <section id="ResNet50" class="download-section content-section text-center" style="background-image: url(static/img/intro.jpg);">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>Upload Image </h2>
          <h5>ResNet50</h5>
          <!-- <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p> -->
          <a href="http://startbootstrap.com/template-overviews/grayscale/" id= "localimage"   class="btn btn-default btn-lg">From Local Disc</a>
          <br><br><br>

        <div>Relay 1:
            <form action= {% url "upload_local" %} method="POST">
                <input type="submit" value="from local disk" id="from local disk" />
            </form>
        </div>


          <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">From URL</a>


        </div>
      </div>
    </section>

    <!-- VGG19 -->
    <section id="VGG19" class="download-section content-section text-center" style="background-image: url(static/img/intro.jpg);">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>Upload Image </h2>
          <h5>VGG19</h5>
          <!-- <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p> -->
          <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">From Local Disc</a>
          <br><br><br>

          <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">From URL</a>


        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact Me</h2>
            <p>I have a few other projects can be viewed on
              <a href="http://www.kevindcruz.com" target="blank"> My Website</a>
              </p>
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://linkedin.com/in/kevindcruz " target="blank" class="btn btn-default btn-lg">
                  <i class="fa fa-linkedin fa-fw"></i>
                  <span class="network-name">LinkedIn</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/KevinDCruz" target="blank" class="btn btn-default btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
              <!--<li class="list-inline-item">
                <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg">
                  <i class="fa fa-google-plus fa-fw"></i>
                  <span class="network-name">Google+</span>
                </a>
              </li>
          -->
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Kevin D"Cruz 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/grayscale.min.js'%}"></script>

  </body>

</html>

<!--
<script>
    $(document).ready(function(){
        $("#localimage").click(function(){
            alert("Local Image")
            $.ajax({
                method: "GET",
                url: "type your python script path here",
                data: {"place" : value},
                dataType: "text",
                success: function(result){
                    var data=JSON.parse(result);
                    console.log(result);
        })
    })
    })

</script>
-->
