{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Image Recognition System</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
 <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

    <!-- Custom styles for this template -->
    <link href="{% static 'css/grayscale.min.css'%}" rel="stylesheet">

  </head>

  <body id="page-top">


    <!-- Intro Header -->
    <header class="masthead">
        <div class="intro-body" style="background-image: url(static/img/intro.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1>Image Recognition System</h4>
                        <h2 class="intro-text">Using Deep Learning Models<br><br>
                        <a href="#about" class="btn btn-circle js-scroll-trigger">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 mx-auto">
            <h2>About the Project</h2>
            <p>This Project focusses on the Computer Vision domain of Computer Science and uses Deep Learning techniques for Image Recognition of common objects. Convolutional Neural Networks plays a major role in Deep Learning and forms the base for this system.
                <br>The Backend Technology used in this project consists of <a href="https://keras.io/">Keras</a>, an API designed for Neural Networks and <a href="https://www.tensorflow.org/">TensorFlow</a>, Google's framework for Machine Learning. The Models trained include <a href="https://arxiv.org/abs/1512.03385">ResNet50</a> and <a href="https://arxiv.org/abs/1409.1556">VGG19</a>, where the weights are from <a href="http://www.image-net.org/">Imagenet</a>. The WEB API is built using Django and Bootstrap. It shows a bar chart of the top 5 predictions of the Input Image along with it's probabilities.<br>

            <br><u>Technology Used:</u> <br> Backend: Python3, Libraries: (Keras, TensorFlow, NumPy, Pandas, MatplotLib)
            <br>
            Frontend: Django, Bootstrap (HTML, CSS, JavaScript)</p>
            <!--<a href="#download" class="btn btn-circle js-scroll-trigger">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a> -->
            <a href="{% url 'Models'%}" id=Models class="btn btn-default btn-lg js-scroll-trigger">Select a Model</a>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="#video" id=Models class="btn btn-default btn-lg js-scroll-trigger">Watch the Demo</a>

          </div>
        </div>
      </div>
    </section>



<section id="video" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 mx-auto">
            <h2>Video Demo</h2>

        <iframe width="660" height="402" src="https://www.youtube.com/embed/OAcn6y5S23Y" frameborder="1" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <br>
        <a href="#contact" class="btn btn-circle js-scroll-trigger">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>

          </div>
        </div>
      </div>
    </section>


    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact Me</h2>
            <p>I have a few other projects can be viewed on
              <a href="http://www.kevindcruz.com" target="blank"> My Website</a>
              </p>
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://linkedin.com/in/kevindcruz " target="blank" class="btn btn-default btn-lg">
                  <i class="fa fa-linkedin fa-fw"></i>
                  <span class="network-name">LinkedIn</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/KevinDCruz" target="blank" class="btn btn-default btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
              <!--<li class="list-inline-item">
                <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg">
                  <i class="fa fa-google-plus fa-fw"></i>
                  <span class="network-name">Google+</span>
                </a>
              </li>
          -->
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Kevin D"Cruz 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/grayscale.min.js'%}"></script>

  </body>

</html>

