
<!-- VGG19_Local -->
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--    <title>Image Recognition System</title> -->



    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
 <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

    <!-- Custom styles for this template -->
    <link href="{% static 'css/grayscale.min.css'%}" rel="stylesheet">

  </head>


<body>
<!-- VGG19-->
    <section id="VGG19_Local" class="download-section content-section text-center" style="background-image: url(static/img/intro.jpg);">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h3>Upload Image: VGG19 </h3>
           <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <input type="file" name="myfile" class="btn btn-default btn-lg"> &nbsp &nbsp
                <button type="submit" class="btn btn-default btn-lg">Upload</button>
              </form>
            <br>
              {% if uploaded_file_url %}
              <img src="/{{uploaded_file_url}}" height="300" width="300">
              {% endif %}


          <br><br>

          <form action= "/VGG19_Local_Predict" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <input type="hidden" name="url" value="{{uploaded_file_url}}">
                <button type="submit" class="btn btn-default btn-lg">Predict</button>
              </form>
          <!--
          <center><a href="/?run=true" id= "localimage"   class="btn btn-default btn-lg">Predict</a></center>
          {% if result %}
          <div>
            {{result}}
          </div>
          {% endif %}
          -->

        </div>
      </div>
    </section>


<!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/grayscale.min.js'%}"></script>

  </body>

</html>
